{% extends "base.html" %}
{% block content %}
<div>
<form class="form-horizontal" action="/simulate" method="post">
    <fieldset>
        <div class="form-group">
            <label class="control-label" for="ticker">Ticker</label>
            <input type="text" class="form-control" name="ticker" id="ticker" placeholder="ticker">
            <input type="submit" class="btn btn-primary" value="Simulate">
        </div>
    </fieldset>
</form>
</div>

<div style="overflow:auto">
<table class="table table-striped table-hover">
    <thead>
    <tr>
        {% for date in dates %}
        <th>{{date}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody >

    {% for res in resultset %}
    <tr>
        {%for price in res %}
        <td> {{price}} </td>
        {% endfor %}
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>
<div>
    <input type="submit" class="btn btn-primary" value="Get xls" formaction="/getxls" formmethod="post">
</div>

<div>
    <input type="submit" class="btn btn-primary" value="Get chart" formaction="/getchart" formmethod="post">
</div>
{% endblock %}